<div class="right absolute-lg right-0 top-0">
    <ul class="mt-2 mr-2 mr-lg-3">
        {%if page.layout != 'home'%}
        <li class="inline-block block-lg text-right ml-1 ml-lg-0">
            <a class="italic h4 no-underline font-smoothing" href="{{ site.baseurl }}/">
                Home
            </a>
        </li>
        {% endif %}
        {% for my_page in site.pages %}
            {% if my_page.title %}
                {% assign post_length = site.posts|size%}
                {% if my_page.title != 'Posts' or post_length > 0%}
        <li class="inline-block block-lg text-right ml-1 ml-lg-0">
            <a class="italic no-underline h4 font-smoothing{%if my_page.title == page.title%} bold{%endif%}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        </li>
                {% endif %}
            {% endif %}
      {% endfor %}
    </ul>
</div>
